* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {    
    width: 100vw;
    max-height: 100vh;
    
} 
img {
   position: fixed;
   z-index: -100;
   top:-200vh;
   left:-200vw;
   width: 500vw;
   height: 500vh;
   overflow: hidden;
animation: rotate-it 100s 1s linear infinite;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    text-align: center;
    color: white;
    text-shadow: 5px 5px 20px darkblue;
    word-wrap: normal;
    }

    .rocket {
        font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 300,
  'opsz' 200;
  color:white;
  position: fixed;
  top:10vh;
  left:10vw;
animation:rocket-it 20s 0s ease-in-out infinite;
overflow: hidden;
    }


@keyframes rotate-it {
    0% {transform: rotate(0deg);
    }
    50%{transform: rotate(-180deg);}
    100% {
    transform: rotate(-360deg);
    }
    

}
@keyframes rocket-it {
0% {transform: translate(10vh, 10vw);}
2% {transform: translate(10vh, 10vw) rotate(45deg);}
30%{transform: translate(90vw, 10vh) rotate(45deg)}
35%{transform: translate(90vw, 10vh) rotate(135deg)}
55%{transform:translate(90vw, 90vh) rotate(135deg)}
60%{transform:translate(90vw, 90vh) rotate(225deg);}
80% {transform: translate(10vw, 90vh) rotate(225deg)}
85%{transform: translate(10vw, 90vh) rotate(315deg);}
100% {transform: translate(10vw, 10vh) rotate(315deg);}
}
#newJoke {
    background-color: rgb(135, 134, 247);
    border-radius: 20px; 
    border:2px solid rgb(222, 222, 248);
    box-shadow: 10px 10px 20px rgb(186, 185, 250);
    color: rgb(10, 3, 143);
    text-shadow: 1px 1px 10px rgb(3, 130, 215);
    font-size: 30px;
    font-weight: 900;   
    padding:10px;
    margin:10px auto;
}

div {
    display: none;
    box-shadow: 0 0 20px rgb(42, 1, 54);
    border-radius: 10px;
    margin: 1% auto;
    padding:1%;
    width:80%;
    height: fit-content;
}