
body {
    background-image: radial-gradient(rgb(251, 180, 57) 0%, darkblue 90%, violet 100%);
    background-repeat: no-repeat;
    background-position:bottom ;
    background-size: 400% 600vh;
    animation: grad-it 10s 0s linear infinite alternate; 
    overflow: hidden;
}
h1 {
    text-align: center;
    color: white;
    text-shadow: 5px 5px 20px darkblue;
    margin: 100px;
    position: relative;
    z-index: 3;
    }

    .rocket {
        font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 100;
  color:white;
        position: absolute;
animation:rocket-it 10s 0s linear infinite;
overflow: hidden;
    }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 100;
    position: absolute;
}
  
    .star1 {   
        color:red;     
        top:20%;
        left:20%;
    }
    .star2 {  
        color:yellow;      
        top:40%;
        left:30%;
    }
    .star3 {  
        color:blue;      
        top:70%;
        left:90%;
    }
    .star4 {  
        color:green;      
        top:60%;
        left:10%;
    }
    .star5 {  
        color:violet;      
        top:10%;
        left:40%;
    }
    .star6 {  
        color:orange;      
        top:30%;
        left:80%;
    }
    .star7 {   
        color:aqua;     
        top:80%;
        left:36%;
    }



@keyframes grad-it {
    0% {
        background-position: top;
    }
  25% {
    background-position-x: left;
  }
    50% {
        background-position: center;
    }
    75% {
        background-position-x: right;
    }
    100% {
        background-position: top;
    }
    

}
@keyframes rocket-it {
0% {
transform: translate(0, -100px) rotate(270deg);
}
25% {
    transform: translate(50px, -100px) rotate(10deg);
    }
50% {
    transform: translate(200px, -300px) rotate(90deg);
}
75% {
    transform: translate(500px, 200px) rotate(180deg);
}
90% {
    transform: translate(0px, 60px) rotate(360deg);
}
100% {
    transform: translate(0, -100px);
}
}